<h1>Movies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Tags</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.name %></td>
        <td>
          <ul class="nav">
          <% movie.tags.each do |tag| %>
            <li>
              <%= tag.name %> <%= link_to "x", destroy_tag_movie_path(movie, tag) %>
            </li>
          <% end %>
          </ul>
        </td>
        <% if can? :read, movie %>
          <td><%= link_to 'Show', movie %></td>
        <% end %>
        <% if can? :edit, movie %>
          <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
        <% end %>
        <% if can? :manage, movie %>
          <td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Movie', new_movie_path %>
